process {
  executor = 'local'
  cpus = 2
  memory = '5.GB'

  // Cap initial QC processes explicitly
  withName: '.*FQ_LINT.*' {
    cpus = 2
    memory = '4.GB'
  }

  withName: '.*FASTQC.*' {
    cpus = 2
    memory = '4.GB'
  }

  withName: '.*TRIMGALORE.*' {
    cpus = 2
    memory = '4.GB'
  }

  withName: '.*SALMON.*' {
    cpus = 2
    memory = '5.GB'
  }

  withName: '.*EAUTILS_GTF2BED.*' {
    cpus = 2
    memory = '4.GB'
  }

  withName: '.*TXIMETA_TXIMPORT.*' {
    cpus = 4
    memory = '4.GB'
  }

  withName: '.*DESEQ2_QC_PSEUDO.*' {
    cpus = 4
    memory = '4.GB'
  }

  withName: '.*SE_.*_UNIFIED.*' {
    cpus = 4
    memory = '4.GB'
  }
}

params {
  skip_alignment = true
  pseudo_aligner = 'salmon'
}
